@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cinzel&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: Cinzel, serif;
	font-size: 18px;
	margin: 0px;
	background-color: rgb(60, 60, 60);
}

h1, h2, h3 {
	font-family: Alice, serif;
	font-weight: bold;
}

h1 {
	text-align: center;
	color: rgba(207, 87, 222, 1);
}

h2 {
	text-align: center;
	font-size: 30px;
	color: rgba(49, 214, 246, 1.0);
	font-weight: 900;
}

a {
	text-decoration: none;
}

p {
	color: rgba(207, 87, 222, 1);
}

#head {
	color: white;
}