.btn-blue {
	background-image: linear-gradient(-225deg, rgba(0, 0, 0, 1) 60%, rgba(207, 87, 222, 1) 80%, rgba(235, 151, 247, 1) 90%, white 100%);
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: Alice, serif;
	margin: 20px 20px;
	margin-left: 200px;
}

.btn-blue:hover {
	padding: 20px 25px;
	background-image: linear-gradient(-225deg, rgba(0, 0, 0, 1.0) 60%, rgba(101, 55, 240, 1.0) 80%, rgba(49, 214, 246, 1.0) 90%);
}

@media (max-width: 540px) {
	.btn-blue {
		padding: 10px 13px;
		margin: 0px 10px;
	}
}

@media (max-width: 540px) {
	.btn-blue:hover {
		padding: 15px 16px;
	}
}